In [5]:
import pandas as pd 
#import matplotlib.pyplot as plt 
import numpy as np 
df = pd.read_csv('train.csv') #dosyadan veriler okundu.
#print(df)
#df.info() #dosya okuma işmeinin başarılı olup olmadığı ve dosya bilgileri kontrol edildi.

In [23]:
result1 = df.tail(6) #df.loc[885:890] #son 6 yolcunun bilgileri gösterildi.
print(result1)

     PassengerId  Survived  Pclass                                      Name  \
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket    Fare Cabin Embarked
885  female  39.0      0      5      382652  29.125   NaN        Q
886    male  27.0      0      0      211536  13.000   NaN        S
887  female  19.0      0      0      112053  30.000   B42        S
888  female   NaN      1      2  W./C. 6607  23.450   NaN        S
889    male  26.0      0      0      111369  30.000  C148        C
890    male  32.0      0      0      370376   7.750   NaN        Q

In [24]:
print(df.columns) #sütun başlıkları sıralandı

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [25]:
print(df.shape) # veriyapsının boyutu gösterildi.

(891, 12)

In [32]:
df.info() # info() metodu ile eksik veriye sahip sütunlar hakkında bilgi edinildi.
print(df.isnull().sum().sort_values(ascending=False)) #her bir sütün için eksik olan veri sayısı hesaplandı.Cabin kategorisinde
# 687, age kategorisinde 177 ve embarked kategorisinde 2 tane eksik veri olduğu tespit edildi.
df = df.dropna()
print(df.isnull().sum().sort_values(ascending=False)) ##eksik veriler silindi
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB